/* --------------------------------------------------------------- */
/* ----------------------------CODE SETTING DEFAULT----------------- */
/* ---------------------------------------------------------------------- */
*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
html{
    font-family: 'Imbue', serif;
    font-family: 'Yusei Magic', sans-serif;
    font-size: 18px;
    color: #999999;
    background-color: #ffffff;
    text-rendering: optimizeLegibility;
    scroll-behavior: smooth;
}
.hello{
    background-image: linear-gradient(#F6402D, 50%);
}