/* destop large screen */
 /* 19inch 1280x1024*/
 @media only screen and (max-width: 1280px){
                              html{
                              font-size: 16px;
                              }
                              .mg-4rem{
                              margin: 0 10rem;
                              }
                              h1{
                              padding-top: 120px;
                              }
                              .form-search-input{
                              margin-left: 17rem;
                              }
                              .h-button-primary {
                              padding: 0.2rem 4.8rem;
                              }
                              .button-wrapper {
                              margin-left: 27rem;
                              }
                              }
 /* 20inch 1600x1200*/
@media only screen and (max-width: 1600px){

}
 /* 22inch 1680x1050*/
@media only screen and (max-width: 1680px){

}


/* small tablets to big tablets */
@media only screen and (max-width: 1023px){
}


/* small phone to small tablets*/
@media only screen and (max-width: 767px){
}



/* small phone 0 to 480px */
@media only screen and (max-width: 480px){
}