/* --------------------------------------------------------------- */
/* ----------------------------CODE SETTING DEFAULT----------------- */
/* ---------------------------------------------------------------------- */
*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
html{
    font-family: 'Lato',sans-serif;
    font-size: 20px;
    color: #5a5a5a;
    background-color: #ffffff;
    text-rendering: optimizeLegibility;
    scroll-behavior: smooth;
}
/* ---------------------------------------------------- */
/* --------------------REUSEABLE COMPONENT--------------- */
/* ------------------------------------------------------ */
.clearfix::after{
    content: " ";
    display: table;
    clear: both;
}

h2{
    text-transform: uppercase;
    letter-spacing: 1px;
    color: black;
    font-size: 100%;
    font-weight: 700;
    text-align: center;
}
h2::after{
    content: " ";
    display: block;
    width: 150px;
    height: 2px;
    background-color: rgb(29, 28, 28);
    margin: 0 auto;
    margin-top: 5px;
}
section{
    padding: 50px;
}

/* ------------------------------------------------------ */
/* ----------------------CODE HEADER------------------- */
/* ------------------------------------------------------ */
header{
    background-image: linear-gradient(45deg,rgba(46, 213, 115,0.8) 55%,rgba(123, 237, 159,0.8)), url(../IMAGE/abstract-art-artistic-background-1103970.jpg);
    background-size: cover;
    background-position: center;
    height: 80vh;
    background-attachment: fixed;
}
.Logo{
    /* padding-top: 20px; */
    float: left;
    margin-top: 5px;
    margin-left: 70px;
    height: 100px;
    width: fixed;
    /* chỉnh margin top left */
}

/* ----------------------------------------------------------------------- */
/* ----------------------------- CODE NAVIGATION ------------------- */
/* -------------------------------------------------------------------- */

.main-nav ul{
    float: right;
    margin-right: 600px;
    margin-top: 30px;
    /* chỉnh margin top left */
}
.main-nav ul li{
    display: inline-block;
    list-style-type: none;
    margin-right: 60px;
}
.main-nav ul li a{
    color: #ffffff;
    text-decoration: none;
    font-size: 90%;
    font-weight: 500;
}


.submenu-nav{
    float: right;
    width: 100%;
    background: rgb(13, 138, 53);
}

.submenu-nav ul{
    margin-left: 300px;
    margin-top: 5px;
    /* chỉnh margin top left */
}
.submenu-nav li{
    padding-top: 20px;
    padding-bottom: 20px;
    list-style-type: none;
    display: inline-block;
}

.submenu-nav li a{
    color: #000000;
    text-decoration: none;
    font-size: 90%;
    margin-left: 50px;
    font-weight: 500;
}

.row{
    max-width: 1140px;
    margin: 0 auto;
}
.row .heading-main-text{
    position: absolute;
    transform: translate(-50%,-50%);
    top: 30%;
    left: 50%;
    text-align: center;
    width: 1140px;
}
/* chỉnh chữ ở giữa video 13 */
button{
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.24), 0 0 2px 0 rgba(0, 0, 0, 0.12);
    background-color: #ff4546;
    border: 1px solid #ff4546;
    border-radius: 3px;
    background-position: center;
    -webkit-transition: background 0.8s;
    transition: background 0.8s;
    padding: 15px 20px;
    color: #ffffff;
    word-break: break-word;
    display: -webkit-box;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    font-size: 18px;
    font-weight: 700;
    text-align: center;
    cursor: pointer;
    -webkit-appearance: unset;
}
/* ------------------------------------------------------ */
/* ----------------------CODE SECTION------------------- */
/* ------------------------------------------------------ */

/* chỉn kích thước ảnh */
/* cần sửa lại vì nó chỉnh ảnh luôn của logo */
/* img{
    width: 90%;
    border-radius: 20px;
    border: 4px solid #5a5a5a;
    box-shadow: 0px 5px 15px 5px #5a5a5a;
    filter: blur(1px);
} */
.picture-tittle{
    position: absolute;
    top: 50%;
    left: 50%;
    color: aliceblue;
    transform: translate(-50%,-40%);
}
.baiviet{
    background-color: white;
    height: 500px;
}
.danhsachbaiviet{
    background-color: rgba(241, 242, 246,1.0);
    height: ;
}

/* ------------------------------------------------------ */
/* ----------------------CODE FOOTER------------------- */
/* ------------------------------------------------------ */
footer{
   
}
